:root {
  --pink-primary: #f6a6f8;
  --purple-primary: #5a189a;
  --purple-secondary: #4f158a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  color: #fff;
  background: radial-gradient(50% 50% at 50% 50%, #191a55 0%, #0d0c22 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}
